API_BASE_URL="backend_location"

AUTH_ORIGIN="$NUXT_SITE_URL/api/auth"
AUTH_SECRET="secret_key_with_at_least_32_characters_long"
AUTH_SIGN="sign_for_generated_tokens"

MODEL_API_KEY="model_api_key"
MODEL_ENDPOINT="model_endpoint"

NUXT_SITE_URL="site_url"
NUXT_SITE_NAME="S.L.O.T.H"
NUXT_SITE_ENV="staging"
NUXT_OG_IMAGE_SECRET="64_length_hex_key"

DEFAULT_PROJECT_POSTGRES_HOST=localhost
DEFAULT_PROJECT_POSTGRES_PORT=5432
DEFAULT_PROJECT_POSTGRES_USER=changethis
DEFAULT_PROJECT_POSTGRES_PASSWORD=changethis
DEFAULT_PROJECT_POSTGRES_DB=changethis
