HOMEPAGE_URL="http://localhost:3000"
AUTH_ORIGIN="$HOMEPAGE_URL/api/auth"

AUTH_SECRET="secret_key_with_at_least_32_characters_long"
AUTH_SIGN="sign_for_generated_tokens"

API_BASE_URL="backend_location"