HOMEPAGE_URL="http://localhost:3000"
API_BASE_URL="backend_location"

AUTH_ORIGIN="$HOMEPAGE_URL/api/auth"
AUTH_SECRET="secret_key_with_at_least_32_characters_long"
AUTH_SIGN="sign_for_generated_tokens"

NUXT_SITE_URL=$HOMEPAGE_URL
NUXT_SITE_NAME="S.L.O.T.H"
NUXT_SITE_ENV="staging"
NUXT_OG_IMAGE_SECRET="64_length_hex_key"
