###################################################################
# SQL-Builder .env
###################################################################

SQL_BUILDER_HOST=localhost
SQL_BUILDER_PORT=50054
SQL_BUILDER_DEBUG=false

ENABLE_PROMETHEUS_METRICS=false
PROMETHEUS_METRICS_PORT=9090
