###################################################################
# Formula-Parser .env
###################################################################

FORMULA_PARSER_HOST=localhost
FORMULA_PARSER_PORT=50052
FORMULA_PARSER_DEBUG=false

ENABLE_PROMETHEUS_METRICS=false
PROMETHEUS_METRICS_PORT=9090

FORMULA_TRACE_CONTEXT_ENABLED=true
FORMULA_TRACE_CONTEXT_LOG_HEADERS=false
OTEL_TRACING_ENABLED=true
OTEL_SERVICE_NAME=formula-parser
OTEL_SERVICE_VERSION="1.0.0"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
