# =============================================================================
# RABBITMQ CONFIGURATION
# =============================================================================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# =============================================================================
# MONGODB CONFIGURATION
# =============================================================================
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_DB=typechecking
MONGO_SCHEMAS_COLLECTION=schemas
MONGO_TASKS_COLLECTION=tasks

# =============================================================================
# REDIS CONFIGURATION
# =============================================================================
REDIS_DB=0
REDIS_PASSWORD=admin
REDIS_PORT=6379
REDIS_HOST=localhost

# =============================================================================
# POSTGRES CONFIGURATION
# =============================================================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=etl
