API_V1_STR=/api/v1
CORS_ORIGINS=http://localhost,http://localhost:3000,http://localhost:8000
SERVER_HOST=localhost
SERVER_PORT=8000
SERVER_DEBUG=False
AUTH_INFO=your_auth_info_here
SECRET_KEY=your_secret_key_here

CREDENTIALS_SECRET_KEY=your_credentials_secret_key_here
CREDENTIALS_SIGN=your_credentials_sign_here

IDEMPOTENCY_TTL_DEFAULT_SECONDS=600
IDEMPOTENCY_TTL_RETRY_DELAY_SECONDS=60
IDEMPOTENCY_TTL_PUBLISHED_SECONDS=1800

# Database settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=typechecking_db

FIRST_SUPERUSER_NAME=admin
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=admin_password

# Database connection configuration
DATABASE_CONNECTION_HOST=localhost
DATABASE_CONNECTION_PORT=50050
DATABASE_MAX_RETRIES=5
DATABASE_RETRY_DELAY_SECONDS=1.0
DATABASE_BACKOFF_MULTIPLIER=2.0

# Excel-Reader configuration
EXCEL_READER_HOST=localhost
EXCEL_READER_PORT=8001
EXCEL_READER_TIMEOUT_SECONDS=30

# RabbitMQ Configuration
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_MAX_RETRIES=5
RABBITMQ_RETRY_DELAY_SECONDS=1.0
RABBITMQ_BACKOFF_MULTIPLIER=2.0

# Exchange and Queue Configuration
RABBITMQ_EXCHANGE=typechecking.exchange

# Queues for different message types
RABBITMQ_QUEUE_INSERTION=typechecking.insertion.queue
RABBITMQ_QUEUE_VALIDATIONS=typechecking.validations.queue
RABBITMQ_QUEUE_RESULTS=typechecking.results.queue

# Routing Keys (used for binding queues to the exchange)
RABBITMQ_ROUTING_KEY_INSERTION=insertion.*
RABBITMQ_ROUTING_KEY_VALIDATIONS=validation.*
RABBITMQ_ROUTING_KEY_RESULTS=results.*

# Routing Keys for Publishing (used by producers to send messages)
RABBITMQ_PUBLISHERS_ROUTING_KEY_INSERTION=insertion.request
RABBITMQ_PUBLISHERS_ROUTING_KEY_VALIDATIONS=validation.request
RABBITMQ_PUBLISHERS_ROUTING_KEY_RESULTS=results.publish

# Extra parameters for each queue
RABBITMQ_QUEUE_TYPE_INSERTION="quorum"
RABBITMQ_QUEUE_TYPE_VALIDATIONS="quorum"
RABBITMQ_QUEUE_TYPE_RESULTS="quorum"
