###################################################################
# DDL-Generator .env
###################################################################

DDL_GENERATOR_HOST=localhost
DDL_GENERATOR_PORT=50053
DDL_GENERATOR_DEBUG=false

ENABLE_PROMETHEUS_METRICS=false
PROMETHEUS_METRICS_PORT=9090
