###################################################################
# DDL-Generator .env
###################################################################

DDL_GENERATOR_HOST=localhost
DDL_GENERATOR_PORT=50053
DDL_GENERATOR_DEBUG=false

ENABLE_PROMETHEUS_METRICS=false
PROMETHEUS_METRICS_PORT=9090

OTEL_SERVICE_NAME=ddl-generator
OTEL_SERVICE_VERSION=1.0.0

# Inbound trace context from gRPC metadata
DDL_TRACE_CONTEXT_ENABLED=true
DDL_TRACE_CONTEXT_LOG_HEADERS=false
